STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-backend
SMS019_USERNAME=
SMS019_API_TOKEN=
SMS019_SOURCE=
SMS019_USE_TEST_API=false
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
GROW_API_KEY=
GROW_PAGE_CODE=
GROW_USE_SANDBOX=true
NAYAX_API_KEY=
NAYAX_SITE_ID=
